[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
networkx = "==2.2"
matplotlib = "==3.0.2"
openpyxl = "==2.6.0"
pandas = "==0.24.1"
scikit-learn = "==0.20.2"
scipy = "==1.2.0"
sklearn = "==0.0"
flask = "*"
requests = "*"
numpy = "==1.16.3"
icc-rt = "*"
mkl = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
